html, body{
  border:0;
  padding:0;
  margin:0;

  /*flex container*/
  display: flex;
  height: 100vh;
  
  flex-direction: column;
  overflow: hidden;

  /*font rules*/
  font-family: monospace;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;

}

#aard-command-input{
  width: 100%;
  flex: 0 0 auto;
}

#aard-display{
  width: 100%;
  flex: 1 1 auto;
  user-select: text;
  background-color: black;
  color: silver;
  overflow-y: scroll;
  white-space: pre;
}



